<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RQ9J5J9XCZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-RQ9J5J9XCZ');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/scripts/script.js" defer></script>
    <title>Pinoy Tales | <%= title %></title>

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap" rel="stylesheet">

    <!--META TAGS SEO-->
    <meta
        name="description"
        content="Read Philippine Folklores and Legends Online for Free"
    />
    <meta
        name="keywords"
        content="Philippines, folklores, legends, fairy tales, short stories"
    />
    <meta name="robots" content="index, follow" />
    <!--OG TAGS-->
    <meta
        property="og:title"
        content="Pinoy Tales | Read Philippine Folklores and Legends Online for Free"
    />
    <meta
        property="og:description"
        content="Discover Pinoy Tales: Free Online Philippine Folklores and Legends."
    />
    <meta
        property="og:image"
        content="https://pub-449c61257b754b5b81f7bffe188f8eda.r2.dev/pinoy-tales-hd.png"
    />
    <meta property="og:image:alt" content="images/PINOYTALES.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.pinoytales.com" />
    <meta property="og:site_name" content="Pinoy Tales" />
</head>