<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>

    <h1>Read Pinoy short stories, folklores, legends and many more!</h1>

    <h2>Latest Tales</h2>

    <ul>
        <% latest_tales.forEach(tale => { %>
            <li><%= tale.title %></li>
        <% }) %>
    </ul>

    <h2>Browse by Genre</h2>

    <ul>
        <% genre_list.forEach(genre => { %>
            <li><%= genre.name %></li>
        <% }) %>
    </ul>

    <h2>Browse by Author</h2>

    <ul>
        <% author_list.forEach(author => { %>
            <li><%= author.name %></li>
        <% }) %>
    </ul>
    
  </body>
</html>