<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>

    <h1>Browse short stories, folklores, legends and many more in Pinoy Tales.</h1>

    <ul>
      <li><strong>Tales: </strong><%= tale_count %></li>
      <li><strong>Genres: </strong><%= genre_count %></li>
      <li><strong>Authors: </strong><%= author_count %></li>
    </ul>
    
  </body>
</html>